<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
	 viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-7.9761" y1="-4" x2="31.4258" y2="-4" gradientTransform="matrix(1 0 0 -1 8.5 16)">
	<stop  offset="0" style="stop-color:#E62426"/>
	<stop  offset="1" style="stop-color:#C01E25"/>
</linearGradient>
<path sketch:type="MSShapeGroup" fill="url(#SVGID_1_)" d="M0.524,20c0-11.046,8.82-20,19.701-20c10.88,0,19.701,8.954,19.701,20
	s-8.82,20-19.701,20C9.344,40,0.524,31.046,0.524,20z"/>
<path id="reflec" sketch:type="MSShapeGroup" fill-opacity="0.08" d="M39.926,20c0,11.046-8.82,20-19.701,20
	c-4.035,0-7.787-1.23-10.911-3.345L31.887,3.879C36.762,7.521,39.926,13.385,39.926,20z"/>
<circle fill="none" cx="20.225" cy="20" r="19.739"/>
<path id="path16" fill="#EAE0E1" d="M26.13,20.318h-0.002l1.525-0.792L26.13,20.318"/>
<g>
	<polygon fill="#FFFFFF" points="15.266,25.945 26.127,20.318 15.266,13.064 	"/>
	<polygon fill="#EAE0E1" points="27.653,19.527 26.127,20.318 26.128,20.318 	"/>
	<polygon fill="#EAE0E1" points="15.266,13.064 26.127,20.318 27.653,19.527 	"/>
</g>
</svg>
